{% extends "layout.html" %}

{% block title %} Register {% endblock %}

{% block main %}
    <form action="/password" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="old_pass" placeholder="Old password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" pattern="^(?=.*[0-9])(?=.*[^\w]).{8}.*$" name="password" placeholder="New password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirmation" placeholder="New password (again)" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>
{% endblock %}